{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Todo List</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <br class="nav">
          {% if request.user.is_authenticated %}
          <a href="#">Hi {{request.user | title}}</a></br>
          <a href="{% url 'logout' %}" class="btn btn-outline">Logout</a>
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline">Login</a>
          <a href="#" class="btn btn-primary">Join Now</a>
          {% endif %}
          <p>views</p>
          <p>Only for staff users:</p>
          <a href="http://127.0.0.1:8000/api/users">users</a></br>
          <a href="http://127.0.0.1:8000/api/makes">car makes</a></br>
          <a href="http://127.0.0.1:8000/api/models">car models</a></br>
          <a href="http://127.0.0.1:8000/api/services">car services</a>
          <p>basic view for all detail view for staff users</p>
          <a href="http://127.0.0.1:8000/api/cars">cars</a></br>
          <p>basic usres can only see views where ther're included staff can see everything</p>
          <a href="http://127.0.0.1:8000/api/rentals">rent orders</a></br>
          <a href="http://127.0.0.1:8000/api/reviews">rent reviews</a></br>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}">{{message}}</div>
        {% endfor %} {% endif %} {%block content %} {%endblock content%}
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p>
          <a href="https://www.pythontutorial.net"></a>
        </p>
      </div>
    </footer>
  </body>
</html>
